*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', serif;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 34px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__details {
  width: 400px;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding: 3px 1px 21px;
  word-spacing: -22px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__list-item:not(:nth-last-child(2)) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 390px;
  padding: 2px 6px;
}

.content__video-card-title {
  width: 100%;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.content__video-card-description {
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px auto 194px;
  gap: 40px;
  height: 54px;
}

.search-form__fieldset {
  border: none;
  align-self: flex-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  height: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  z-index: 0;
  cursor: pointer;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before,
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  inset: 1px;
  background-color: #fff;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
}

.search-form__label-text:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  color: rgb(255 255 255 / 0.7);
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  margin-top: auto;
}

.more-button {
  margin-top: 30px;
}
